*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nimbus Sans L";
}

html,body{
    background: #d3d3d3;
    color: white;
}

#hader{
    background-color: #d3d3d3;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

#hader img{
    height: 45px;
    width: 45px;
    border-radius: 15px;
    margin: 9px;
}

#links{
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 70%;
}

#links a{
    justify-content: space-between;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

#hero{
    height: 100vh;
    width: 100%;
}

#hero_img{
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: .5;
}

#W_logo{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    top: 50px;
    left: 40%;
}

#hading{
    position: relative;
    top: 10%;
    left: 35%;
    color: black;
    font-size: 4rem;
    font-family: Freestyle Script; 
}

.catagoris_items{
    text-decoration: none;
    color: black;
    position: relative;
    top: 90px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 25px;
    left: 30%;
}

#category{
    position: relative;
    color: black;
    top: 70px;
    left: 35%;
    font-size: 2rem;
    text-decoration: underline 5px solid;
    margin-bottom: 20px;
}

#card p{
    height: 50%;
    width: 50%;
    background-color: #9B4444;
    padding: 50px;
    border-radius: 0px 60px 0px 60px;
    margin-left: 10px;
    line-height: 25px;
}

#card{
    margin-top: 50px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#gujrati{
    height: 200px;
    margin-right: 150px;
    border-radius: 150px;
    margin-left: 50px;
}


